body {
    font-family: 'Arial', sans-serif;
    background-color: #EEF296;
    margin: 0;
    

}

header {
    position: relative;
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

header img {
    border: 5px solid #fff;
}

section {
    margin: 0px;
}
p{
    font-size: x-large;
}
h2 {
    font-size: xx-large; /* Increase the font size for h2 */
}

#about {
    text-align: center;
}
#skills {
    text-align: center;
    color: #fff;
    background-color: #343a40;
    padding: 30px;
}
#available {
    text-align: center;
    padding-bottom: 30px;
}
#available_list {
    font-size: x-large;
}
#skill_list {
    font-size: x-large;
}
#contact {
    text-size-adjust: 50;
    text-align: center;
    color: #050505;
    background-color: #ccdcec;
    padding: 0;
    overflow: hidden;
    min-height: calc(10vh - 40px); /* Adjust as needed */
}
.card {
    border: none;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}
@media (max-width: 768px) {
    .sidenav {
        display: none;
    }
}

/* Add more custom styling as needed */
